<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>
<body>
    <header>
        <h1>{{ site.title }}</h1> <!-- Using site.title to avoid repetition -->
        <nav>
            <ul>
                <li><a href="{{ "/" | relative_url }}">Home</a></li>
                <li><a href="{{ "/Project/Amway/" | relative_url }}">Amway</a></li>
                <li><a href="{{ "/Project/SunnyPaws/" | relative_url }}">SunnyPaws</a></li>
                <!-- Add more links to other pages as needed -->
            </ul>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>© 2024 by Xuanrui Hu (Mike)</p>
    </footer>
    <script src="/assets/js/orgChart.js"></script>
</body>
</html>